<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_Test::test"
            title="Test"
            module="Magenest_Test"
            resource="Magenest_Test::test"
            sortOrder="60"
        />
        <add
            id="Magenest_Test::address"
            title="Manage Address"
            module="Magenest_Test"
            resource="Magenest_Test::address"
            parent="Magenest_Test::test"
            action="test/index/display"
        />
    </menu>
</config>
