<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_notification_listing_data_source" xsi:type="string">
                    Magenest\Notification\Model\ResourceModel\Notification\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\Notification\Model\ResourceModel\Notification\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">promo_notification</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Notification\Model\ResourceModel\Notification</argument>
        </arguments>
    </virtualType>
<!--    <preference for="Magento\Framework\View\Element\Html\Link\Current" type="Magenest\Notification\Block\ChangeCustomLink" />-->
</config>
