<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_type_prepare_full_options">
        <observer name="set_additional_options_question" instance="Magenest\PartTimePlus\Observer\SetAdditionalOptions"/>
    </event>
    <event name="customer_save_after">
        <observer name="change_custom_prefix" instance="Magenest\PartTimePlus\Observer\ChangeCustomPrefix"/>
    </event>
</config>
