<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:framework:Event/etc/events.xsd">
    <event name="after_save_change_prefix_name">
        <observer name="change_prefix_name"
                  instance="Magenest\Test\Observer\ChangePrefixName"/>
    </event>
</config>
